In [1]:
import pandas as pd
import pickle
from sklearn.ensemble import RandomForestRegressor as RFR
from preprocessing import *

In [2]:
df = pickle.load(open('houses_final.p', 'rb'))

X_train, y_train = pickle.load(open('train_final.p','rb'))
X_valid, y_valid = pickle.load(open('valid_final.p','rb'))
X_test, y_test = pickle.load(open('test_final.p','rb'))

In [3]:
m = RFR(n_estimators=120, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
m.fit(X_train, y_train)
print_score(m, X_train, y_train, X_valid, y_valid)

[0.1045429765973855, 0.19651353543256472, 0.952196786037634, 0.8393277445898214, 0.8597276921886612]

In [4]:
X_train.head()

,volume,livingspace,Gemiddelde woningwaarde:x 1 000 euro,housetype,V1.x,lotsurface,yearofconstruction,longitude,latitude,housesubtype
57585,255.0,97.0,270.0,1,48990,215.0,2013.0,5.132951,51.484440,14
57584,264.0,106.0,270.0,1,48989,215.0,2013.0,5.132951,51.484440,14
50443,213.0,82.0,171.0,1,42289,215.0,2011.0,3.617541,51.497042,7
74786,480.0,115.0,149.0,3,59549,215.0,1987.0,5.835048,50.979161,10
57583,335.0,127.0,270.0,1,48988,215.0,2013.0,5.132951,51.484440,14

In [5]:
X_train_housetype_3_old_index = X_train[X_train['housetype'] == 3].index
X_valid_housetype_3_old_index = X_valid[X_valid['housetype'] == 3].index
X_test_housetype_3_old_index = X_test[X_test['housetype'] == 3].index

X_train_housetype_1_old_index = X_train[X_train['housetype'] == 1].index
X_valid_housetype_1_old_index = X_valid[X_valid['housetype'] == 1].index
X_test_housetype_1_old_index = X_test[X_test['housetype'] == 1].index

X_train_housetype_3_index = X_train.reset_index()[X_train.reset_index()['housetype'] == 3].index
X_valid_housetype_3_index = X_valid.reset_index()[X_valid.reset_index()['housetype'] == 3].index
X_test_housetype_3_index = X_test.reset_index()[X_test.reset_index()['housetype'] == 3].index

X_train_housetype_1_index = X_train.reset_index()[X_train.reset_index()['housetype'] == 1].index
X_valid_housetype_1_index = X_valid.reset_index()[X_valid.reset_index()['housetype'] == 1].index
X_test_housetype_1_index = X_test.reset_index()[X_test.reset_index()['housetype'] == 1].index

In [6]:
X_train_housetype_3 = X_train.loc[X_train_housetype_3_old_index]
y_train_housetype_3 = y_train[X_train_housetype_3_index]
X_valid_housetype_3 = X_valid.loc[X_valid_housetype_3_old_index]
y_valid_housetype_3 = y_valid[X_valid_housetype_3_index]
X_test_housetype_3 = X_test.loc[X_test_housetype_3_old_index]
y_test_housetype_3 = y_test[X_test_housetype_3_index]

X_train_housetype_1 = X_train.loc[X_train_housetype_1_old_index]
y_train_housetype_1 = y_train[X_train_housetype_1_index]
X_valid_housetype_1 = X_valid.loc[X_valid_housetype_1_old_index]
y_valid_housetype_1 = y_valid[X_valid_housetype_1_index]
X_test_housetype_1 = X_test.loc[X_test_housetype_1_old_index]
y_test_housetype_1 = y_test[X_test_housetype_1_index]

In [7]:
X_train_housetype_3.drop(['housetype'], axis=1, inplace=True)
X_valid_housetype_3.drop(['housetype'], axis=1, inplace=True)
X_test_housetype_3.drop(['housetype'], axis=1, inplace=True)

X_train_housetype_1.drop(['housetype'], axis=1, inplace=True)
X_valid_housetype_1.drop(['housetype'], axis=1, inplace=True)
X_test_housetype_1.drop(['housetype'], axis=1, inplace=True)

In [8]:
m = RFR(n_estimators=120, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
m.fit(X_train_housetype_3, y_train_housetype_3)
print_score(m, X_train_housetype_3, y_train_housetype_3, X_valid_housetype_3, y_valid_housetype_3)

[0.0978226181997895, 0.17766042477812988, 0.9285562656610585, 0.7825006098172043, 0.7937588045905861]

In [9]:
fi = rf_feat_importance(m, X_train_housetype_3)
fi

                                   cols       imp
0                                volume  0.217094
1                           livingspace  0.215202
2  Gemiddelde woningwaarde:x 1 000 euro  0.180769
3                                  V1.x  0.104029
7                              latitude  0.072706
4                            lotsurface  0.067374
6                             longitude  0.066957
5                    yearofconstruction  0.050389
8                          housesubtype  0.025481

In [10]:
m = RFR(n_estimators=120, min_samples_leaf=3, max_features=0.5, n_jobs=-1, oob_score=True)
m.fit(X_train_housetype_1, y_train_housetype_1)
print_score(m, X_train_housetype_1, y_train_housetype_1, X_valid_housetype_1, y_valid_housetype_1)

[0.10812385797622033, 0.21354756216459117, 0.9397308234760353, 0.7998817187235099, 0.8359572291434838]

In [11]:
fi = rf_feat_importance(m, X_train_housetype_1)
fi

                                   cols       imp
0                                volume  0.339668
1                           livingspace  0.255460
2  Gemiddelde woningwaarde:x 1 000 euro  0.128683
5                    yearofconstruction  0.127388
3                                  V1.x  0.049355
6                             longitude  0.040888
7                              latitude  0.040443
8                          housesubtype  0.018113
4                            lotsurface  0.000000